.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 75%;
}

/*lista de perfiles de chats */

.listchats {
  display: flex;
  height: 100vh;
  width: 25%;
  border-right: 1px solid black;
  border-color: black;
  flex-direction: column;
  
}

.hader__chats {
  display: flex;
  flex-direction: row;
  height: 80px;
  background-color: #e0e0e0;
  justify-content: space-between;
  border-radius: 0 0 0 20px;
  padding: 20px;
  box-shadow: 0 10px 20px 0 rgb(251, 117, 117);
}

.text__typography {
  padding-left: 15px;
}

.chatperf {
  display: flex;
  align-items: center;
  padding: 0.75rem;
}

.chatlist {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.chatlist:hover {
  background-color: grey;
}

.contenedorchatslist {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 75vh;
  flex: 1;
  scrollbar-width: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.contenedorchatslist::-webkit-scrollbar {
  display: none;
}

.btnnewchat {
  align-items: center;
}

/*estilos de chat individual contenedor*/

.topbar {
  display: flex;
  background-color: #a9bdd1;
  height: 80px;
  width: 100vh;
  align-items: flex-end;
  padding: 20px;
  flex-grow: 1;
  border-radius: 0 0 20px 0;
  box-shadow: 0 10px 20px 0 rgb(251, 117, 117);
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  height: 72vh;
  overflow-y: auto;
  margin-top: 105px;
  margin-bottom: 90px;
  width: 100%;
}

.messagesContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.message {
  display: flex;
  width: fit-content;
  max-width: 80%;
  border-radius: 15px;
  padding: 8px;
  margin: 9px;
  margin-left: 30px;
  margin-right: 30px;
}

.messageSender {
  background-color: #c6f6d5;
  align-self: flex-end;
}

.messageReceiver {
  background-color: #bee3f8;
  align-self: flex-start;
}